@charset "utf-8";
/* CSS Document */

td{
	width:80px;
	border-color:#bbe0f7;
	border-width:1px;
	border-bottom-width:0px;
	border-style:solid;
	
}
.back{
	background-image:url(../images/tool/tab.png);
	background-repeat:no-repeat;
	background-size:80px; 24px; 
}
#head{
	margin-top:-5px;
	background:url(../images/tool/BG_mainWindow.jpg);
	}