@charset "utf-8";
/* CSS Document */

.userName{
	color: #069;
}

.userImage{
	width:47px;
	height:47px;
	
}

.freshContent{
	cursor:pointer;
	
}

.freshTime{
	color:#CCC;
}

.block{
	width:230px;
}

.freshAccessory{
	width:100px;
	height:100px;
}

.setposition{
	 width:24px; 
	 height:24px;
	
	margin:10%;
	border:none;
}

.adjustReply{
	font-size:11px;
}
